@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.Banner-Section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url(./images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Banner-Section .Banner-Text {
    text-align: center;
    padding-top: 23%;
}

.Banner-Section .Banner-Text h1 {
    font-size: 60px;
    color: white;
    letter-spacing: 2px;
}

.Paragrah {
    font-size: 15px;
    color: rgb(225, 224, 224);
    letter-spacing: 1px;
    padding: 30px 30px;
}

.Paragrah1 {
    font-size: 15px;
    color: rgb(21, 21, 21);
    letter-spacing: 1px;
    padding: 30px 30px;
}

.btn {
    font-size: 18px;
    padding: 15px 20px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 8px;
}

.Donate-Section {
    width: 70%;
    margin: 0% 15% 0% 15%;
    text-align: center;
}

.Text {
    margin-top: 80px;
    text-align: center;
}

.Text h1 {
    font-size: 40px;
    color: rgb(27, 27, 27);
}

.Donate-Section .Flex-Cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10x;
    margin-bottom: 40px;
}

.Donate-Section .Flex-Cards .Card-Item {
    padding: 25px 20px;
    background-color: rgb(235, 235, 235);
}

.Donate-Section .Flex-Cards .Card-Item h2 {
    font-size: 20px;
    color: rgb(92, 92, 92);
}

#Marked {
    border: 1px solid rgb(255, 34, 34);
    background-color: rgb(253, 234, 234);
}

.Donate-Section .Form input {
    border: none;
    margin-bottom: 10px;
    font-size: 15px;
}

.Donate-Section .Form .btn {
    margin-top: 40px;
}

.Plan-Section .Flex-Cards {
    margin-top: 30px;
}

.Plan-Section .Flex-Cards .Card-Item {
    text-align: left;
    margin-right: 15px;
}

.Plan-Section .Flex-Cards .Card-Item h2 {
    padding: 15px 0px;
}

.Plan-Section .Flex-Cards #Item1 {
    background-color: rgb(253, 225, 225);
}

.Plan-Section .Flex-Cards #Item2 {
    background-color: rgb(225, 230, 253);
}

.Plan-Section .Flex-Cards #Item3 {
    background-color: rgb(253, 244, 225);
}